<div class="jumbotrom mt-4">
  <h1 class="display-4">Biblioteca de peliculas</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Debitis dignissimos magni sint ducimus, recusandae repudiandae beatae, unde
    esse ab optio deserunt eum. Beatae illo ex dolorum dicta explicabo. Nihil,
    sequi.</p>
  <hr class="my-4" />
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis
    perspiciatis id magnam optio quam ducimus voluptas cum obcaecati vero
    fugiat.</p>
</div>